<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Scribe Seeker</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/scribe-seeker/add-new-exam">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <app-exam-list [examList]="examList"></app-exam-list>
  </ion-card>
</ion-content>
