<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Welcome to Be My Scribe!
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <div id="container">
        <img src="assets/logo.jpg" alt="Logo" width="100">
        <h1 class="ion-margin">Welcome to Be My Scribe!</h1>
        <!-- <strong class="ion-margin"></strong> -->
        <ion-button color="primary" expand="block" routerLink="/scribe-seeker">Register as student</ion-button>
        <ion-button color="secondary" expand="block" routerLink="/scribe-volunteer">Register as volunteer</ion-button>
        <ion-button color="tertiary" expand="block" fill="outline" routerLink="/login">Login</ion-button>
    </div>
</ion-content>
