<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Exam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="addNewExamForm" (ngSubmit)="onAddExamSubmission()">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Exam Name</ion-label>
              <ion-input formControlName="examName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Exam Location Address</ion-label>
              <ion-textarea formControlName="address"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Exam City</ion-label>
              <ion-input formControlName="examCity"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label>Exam Date</ion-label>
              <!-- <ion-datetime formControlName="date"></ion-datetime> -->
              <input type="date" id="examDate" formControlName="date" aria-label="Exam Date">
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label>Exam Time</ion-label>
              <!-- <ion-datetime display-format="h:mm A" picker-format="h:mm A" formControlName="time"></ion-datetime> -->
              <input type="time" id="examTime" formControlName="time" aria-label="Exam Time">
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Skills Expected From Volunteer</ion-label>
              <ion-textarea formControlName="skills"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-evenly">
          <ion-col size-sm="6" offset-sm="3">
            <ion-button type="reset" color="secondary" size="small" fill="outline">Reset</ion-button>
            <ion-button type="submit" color="primary" size="small">Submit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
